﻿<!doctype html>
<html lang="en">
<nav>
    <div class="nav-wrapper deep-orange .deep-orange.accent-4">
        <h5 href="#" class="brand-logo center">ElioBlog</h5>
        <ul id="nav-mobile" class="right smaller-on-med-and-down">
            <li style="padding-right: 20px">@Html.ActionLink("Settings", "UserSettings", "Blog")</li>

            <li style="padding-right: 20px">
                <form method="post" action="../Account/LogOut">
                    <input type="submit" value="LogOut" class="green btn .light-green.accent-3"/>
                </form>
            </li>

        </ul>
        <ul id="nav-mobile" class="left smaller-on-med-and-down">
            <li>@Html.ActionLink("Blog", "Index", "Blog")</li>
            <li>@Html.ActionLink("My Page", "PersonalBlog", "Blog")</li>
            <li>@Html.ActionLink("Peoples", "FindUsers", "Blog")</li>
        </ul>
    </div>
</nav>
@RenderBody()
</html>