﻿<!doctype html>
<html lang="en">
<nav>
    <div class="nav-wrapper deep-orange .deep-orange.accent-4">
        <a href="#" class="brand-logo" style="margin-left: 20px">ElioBlog</a>
        <ul id="nav-mobile" class="right smaller-on-med-and-down">
            <li>@Html.ActionLink("Log In", "Login", "Account")</li>
            <li>@Html.ActionLink("Sign Up", "Register", "Account")</li>
        </ul>
    </div>
</nav>
@RenderBody()
</html>