﻿@model PersonalBlog.Models.UserViewModel

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="~/Content/Site.css">
    <link rel="stylesheet" href="~/Content/materialize.css">
    <script src="~/Scripts/materialize.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error page</title>
</head>
<body>
<div class="clear-30"></div>
<div class="row container">
    <div class="col s12">
        <h1 class="center white-text">Error 503</h1>
        <h6 class="center white-text">Permission error</h6>
    </div>
</div>
</body>
</html>