﻿@model PersonalBlog.Models.LoginViewModel

@{
    Layout = "/Views/Shared/_LayoutLogin.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/Content/Site.css">
    <link rel="stylesheet" href="~/Content/materialize.css">
    <script src="~/Scripts/materialize.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
</head>
<body>
<br>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row container">
        <div class="col s12">
            <div class="col m8 offset-m2 s12 z-depth-2 purple darken-4">
                <div class="lid">
                    <div class="input-field col s12">
                        @Html.LabelFor(model => model.Password, "Email", htmlAttributes: new {@class = "lightLabel"})
                        @Html.ValidationSummary(true, "", new {@class = "lightLabel"})
                        @Html.EditorFor(model => model.Email, new {htmlAttributes = new {@class = "lightLabel validate"}})
                        @Html.ValidationMessageFor(model => model.Email, "", new {@class = "lightLabel"})
                    </div>
                    <div class="input-field col s12">
                        @Html.LabelFor(model => model.Password, "Password", htmlAttributes: new {@class = "lightLabel"})
                        @Html.EditorFor(model => model.Password, new {htmlAttributes = new {@class = "lightLabel validate"}})
                        @Html.ValidationMessageFor(model => model.Password, "", new {@class = "lightLabel"})
                    </div>
                    <div class="input-field col s12 center">
                        <button type="submit" value="Create" class="green btn .light-green.accent-3 waves-effect waves-light">
                            Login
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
</body>
</html>