﻿@model PersonalBlog.Models.RegisterViewModel

@{
    Layout = "/Views/Shared/_LayoutLogin.cshtml";
}
<head>
    <link rel="stylesheet" href="~/Content/materialize.css">
    <link rel="stylesheet" href="~/Content/Site.css">
    <script src="~/Scripts/materialize.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-3.4.1.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration Page</title>
</head>
<br>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row container" style="min-height:100vh">
        <div class="col s12">
            <div class="col m8 offset-m2 s12 z-depth-2 purple darken-4">
                <div class="input-field col s12">
                    @Html.LabelFor(model => model.Email, "Email address", htmlAttributes: new {@class = "lightLabel", @for = "email"})
                    @Html.EditorFor(model => model.Email, new {htmlAttributes = new {@required = "required", @id = "email", @type = "text", @class = "lightLabel validate shadow-cover"}})
                    @Html.ValidationMessageFor(model => model.Email, "", new {@class = "lightLabel", @for = "email"})
                </div>
                <div class="input-field col s12">
                    @Html.LabelFor(model => model.Password, "Enter your password", htmlAttributes: new {@class = "lightLabel", @for = "password"})
                    @Html.EditorFor(model => model.Password, new {htmlAttributes = new {@required = "required", @id = "password", @type = "password", @class = "lightLabel validate"}})
                    @Html.ValidationMessageFor(model => model.Password, "", new {@class = "lightLabel", @for = "password"})
                </div>
                <div class="input-field col s12">
                    @Html.LabelFor(model => model.PasswordConfirm, "Repeat your password", htmlAttributes: new {@class = "lightLabel", @for = "password"})
                    @Html.EditorFor(model => model.PasswordConfirm, new {htmlAttributes = new {@required = "required", @id = "password", @type = "password", @class = "lightLabel validate"}})
                    @Html.ValidationMessageFor(model => model.PasswordConfirm, "", new {@class = "lightLabel", @for = "password"})
                </div>
                <div class="input-field col s12">
                    @Html.LabelFor(model => model.FirstName, "Enter your first name", htmlAttributes: new {@class = "lightLabel", @for = "first_name"})
                    @Html.EditorFor(model => model.FirstName, new {htmlAttributes = new {@required = "required", @id = "first_name", @type = "text", @class = "lightLabel validate"}})
                    @Html.ValidationMessageFor(model => model.FirstName, "", new {@class = "lightLabel", @for = "first_name"})
                </div>
                <div class="input-field col s12">
                    @Html.LabelFor(model => model.LastName, "Enter your last name", htmlAttributes: new {@class = "lightLabel", @for = "last_name"})
                    @Html.EditorFor(model => model.LastName, new {htmlAttributes = new {@required = "required", @id = "last_name", @type = "text", @class = "lightLabel validate"}})
                    @Html.ValidationMessageFor(model => model.LastName, "", new {@class = "lightLabel", @for = "last_name"})
                </div>
                <div class="input-field col s12">
                    @Html.EditorFor(model => model.Birthdate, new {htmlAttributes = new {@required = "required", @id = "birth_date", @type = "date", @class = "lightLabel validate"}})
                    @Html.ValidationMessageFor(model => model.Birthdate, "", new {@class = "lightLabel", @for = "birth_date"})
                </div>
                <div class="input-field col s12">
                    @Html.LabelFor(model => model.Phone, "Phone number", htmlAttributes: new {@class = "lightLabel", @for = "phone"})
                    @Html.EditorFor(model => model.Phone, new {htmlAttributes = new {@pattern = "[0-9]{8,12}", @required = "required", @id = "phone", @type = "text", @class = "lightLabel validate"}})
                    @Html.ValidationMessageFor(model => model.Phone, "", new {@class = "lightLabel", @for = "phone"})
                </div>
                <div class="input-field col s12">
                    @Html.ValidationSummary(true, "", new {@class = "lightLabel validate"})
                    @Html.LabelFor(model => model.Login, "Name that other see", htmlAttributes: new {@class = "lightLabel", @for = "login"})

                    @Html.EditorFor(model => model.Login, new {htmlAttributes = new {@class = "lightLabel validate", @id = "login", type = "text", @required = "required"}})
                    @Html.ValidationMessageFor(model => model.Login, "", new {@class = "lightLabel", @for = "login"})
                </div>
                <div class="input-field col s12 center">
                    <button type="submit" value="Create" class="green btn .light-green.accent-3 waves-effect waves-light">
                        Register
                    </button>
                </div>
            </div>
        </div>
    </div>
}