﻿@model PersonalBlog.Models.PostViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="~/Content/Site.css">
    <link rel="stylesheet" href="~/Content/materialize.css">
    <script src="~/Scripts/materialize.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/Chips.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit post</title>
</head>
<body>
<div class="clear-30"></div>
<div class="row container">
    <div class="clear-15"></div>
    <div class="col s12 z-depth-2 deep-purple lighten-4">
        <h4 class="center">Change your post</h4>
        @using (Html.BeginForm("ChangePostData", "Blog", FormMethod.Post))
        {
            <div class="input-field col s12">
                @Html.TextAreaFor(m => m.PostText, new {@class = "materialize-textarea", @data_length = "800", @id = "textarea", @Value = Session["EditPostId"]})
            </div>
            <button type="submit" value="Create" class="green btn .light-green.accent-3 right">
                Apply
            </button>
        }
    </div>
</div>
</body>
</html>