﻿@using PersonalBlog.DAL.Entities
@using PersonalBlog.DAL.Identity
@using PersonalBlog.Helpers
@model string

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="~/Content/Site.css">
    <link rel="stylesheet" href="~/Content/materialize.css">
    <script src="~/Scripts/materialize.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Find Peoples</title>
</head>
<body>
<div class="clear-30"></div>
<div class="row container">
    <div class="col s12">
        <div class="col m8 offset-m2 s12 z-depth-2 deep-purple lighten-4">
            <h4>What's new?</h4>
            <form method="get" action="../Blog/FindUsers">
                <div class="input-field col s12">
                    <input placeholder="Enter someone login" name="loginPart" id="login" type="text" class="validate">
                    <label for="login">Login</label>
                </div>
                <button type="submit" value="Create" class="green btn .light-green.accent-3 right">
                    Find
                </button>
            </form>
            <div class="clear-10"></div>
        </div>
    </div>
    @Html.FindUsers((List<ApplicationUser>) TempData["Users"], Model, x => Url.Action("PersonalBlog", new {login = x}))
</div>
<script src="~/Scripts/ReadMore.js"></script>
</body>
</html>