﻿@using PersonalBlog.BLL.DTO
@using PersonalBlog.DAL.Entities
@using PersonalBlog.Helpers
@model PersonalBlog.Models.FindtextViewModel

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <link href="~/Content/Materials.css" rel="stylesheet">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="~/Content/Site.css">
    <link rel="stylesheet" href="~/Content/materialize.css">
    <script src="~/Scripts/materialize.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog page</title>
</head>
<body>
<br>
<div class="row container">
    <div class="clear-15"></div>
    <div class="col s12 z-depth-2 deep-purple lighten-4">
        <h4>Find blog by text or tag</h4>
        @using (Html.BeginForm("Index", "Blog", FormMethod.Get))
        {
            <div class="input-field col s12">
                @Html.EditorFor(m => m.Text, new {@class = "lightLabel validate right", @id = "textInp"})
            </div>
            <button type="submit" value="Create" class="green btn .light-green.accent-3 right">
                Find
            </button>
        }
    </div>
</div>
<div class="row container">
    @using (Html.BeginForm())
    {
        @Html.PostGenerator((List<Post>) TempData["AllPosts"], x => Url.Action("PostComments", new {postId = x}), x => Url.Action("EditPost", new {postId = x}),x => Url.Action("PersonalBlog", new {login = x}) , (IEnumerable<CommentDTO>) TempData["Comments"], Model.Text, Model.isAdmin)
    }
</div>
<script src="~/Scripts/ReadMore.js"></script>
<script src="~/Scripts/imgLikeChanger.js"></script>
<script >
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.dropdown-trigger');
    var instances = M.Dropdown.init(elems);
  });
</script>
</body>
</html>