﻿@using PersonalBlog.BLL.DTO
@using PersonalBlog.DAL.Entities
@using PersonalBlog.DAL.Identity
@using PersonalBlog.Helpers
@using PersonalBlog.Models
@model PersonalBlog.Models.PostViewModel

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="~/Content/Site.css">
    <link rel="stylesheet" href="~/Content/materialize.css">
    <script src="~/Scripts/materialize.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/Chips.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Blog</title>
</head>
<body>
<div class="clear-30"></div>
<div class="row container">
    @Html.UserData((ApplicationUser) TempData["User"])
    <div class="clear-15"></div>
    @if (Model.IsMe)
    {
        <div class="col s12 z-depth-2 deep-purple lighten-4">

            <h4 class="center">What's new?</h4>
            @using (Html.BeginForm("CreatePost", "Blog", FormMethod.Post))
            {
            <div class="input-field col s12">
                @Html.TextAreaFor(m => m.PostText, new {@class = "materialize-textarea", @data_length = "800", @id = "textarea"})
            </div>
            <div class="col m8 offset-m2 s12 z-depth-2 deep-purple lighten-4">

                @if ((string) TempData["NullInputException"] == "1")
                {
                    <p style="color: red">Empty field</p>
                }
                <input type="text" id="tagInp1">
                <div class="chips"></div>
                <button type="submit" value="Create" class="green btn .light-green.accent-3 right">
                    Send
                </button>

                <div class="clear-10"></div>
            </div>
            }
        </div>
    }
    @using (Html.BeginForm())
    {
        @Html.MyPostsGenerator((List<Post>) TempData["Posts"], Guid.Parse(Convert.ToString(TempData["UserId"])), x => Url.Action("EditPost", new {postId = x}),
            x => Url.Action("PostComments", new {postId = x}), (IEnumerable<CommentDTO>)TempData["Comments"], Model.IsMe)
    }

</div>
<script >
    $("#tagInp1").attr("type", "hidden")
    $("#tagInp1").attr("name", "TagsText")
</script>
<script >
    M.AutoInit();
</script>
<script src="~/Scripts/ReadMore.js"></script>
</body>
</html>