﻿@using PersonalBlog.BLL.DTO
@using PersonalBlog.DAL.Entities
@using PersonalBlog.Helpers
@model PersonalBlog.Models.UserViewModel

@{
    Layout = "../../Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="~/Content/Site.css">
    <link rel="stylesheet" href="~/Content/materialize.css">
    <script src="~/Scripts/materialize.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="row container">
    <div class="col s12">
        <div class="col m8 offset-m2 s12 z-depth-2 deep-purple lighten-4">
            @using (Html.BeginForm("LeaveComment", "Blog"))
            {
                <div class="input-field col s12">
                    <input required placeholder="Enter comment text" name="commentText" id="comment" type="text" class="validate">
                    <label for="comment">Comment</label>
                </div>
                <button type="submit" value="Create" class="green btn .light-green.accent-3 center">
                    Leave a comment
                </button>
            }
            <div class="clear-10"></div>
        </div>
    </div>
    @using (Html.BeginForm())
    {
        @Html.PostCommentGenerator((IEnumerable<Comment>) TempData["Comments"], x => Url.Action("DeleteComment", new {commentId = x}), Model)
    }
</div>
</body>

</html>