﻿@model PersonalBlog.Models.UserViewModel

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="~/Content/Site.css">
    <link rel="stylesheet" href="~/Content/materialize.css">
    <script src="~/Scripts/materialize.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Find Peoples</title>
</head>
<body>
<div class="clear-30"></div>
<div class="row container">
    <div class="col s12">
        <div class="col m8 offset-m2 s12 z-depth-2 purple darken-4">
            <div class="lid">
                @using (Html.BeginForm("ChangeUserData", "Blog"))
                {
                    <div class="input-field col s12">
                        @Html.LabelFor(model => model.FirstName, "First Name", htmlAttributes: new {@class = "lightLabel"})
                        @Html.EditorFor(model => model.FirstName, new {htmlAttributes = new {@type = "text", @class = "lightLabel validate", @Value = TempData["FirstName"]}})
                    </div>
                    <div class="input-field col s12">
                        @Html.LabelFor(model => model.LastName, "Last Name", htmlAttributes: new {@class = "lightLabel"})
                        @Html.EditorFor(model => model.LastName, new {htmlAttributes = new {@class = "lightLabel validate", @Value = TempData["LastName"]}})
                    </div>
                    <div class="input-field col s12">
                        @Html.EditorFor(model => model.BirthDate, new {htmlAttributes = new {@type = "date", @class = "lightLabel validate", @Value = TempData["Birthdate"]}})
                    </div>
                    <div class="input-field col s12">
                        @Html.LabelFor(model => model.City, "City", htmlAttributes: new {@class = "lightLabel"})
                        @Html.EditorFor(model => model.City, new {htmlAttributes = new {@class = "lightLabel validate", @Value = TempData["City"]}})
                    </div>
                    <div class="input-field col s12">
                        @Html.LabelFor(model => model.Languages, "Languages you speak", htmlAttributes: new {@class = "lightLabel"})
                        @Html.EditorFor(model => model.Languages, new {htmlAttributes = new {@class = "lightLabel validate", @Value = TempData["Languages"]}})
                    </div>
                    <div class="input-field col s12">
                        @Html.LabelFor(model => model.About, "Information about you", htmlAttributes: new {@class = "lightLabel"})
                        @Html.EditorFor(model => model.About, new {htmlAttributes = new {@class = "lightLabel validate", @Value = TempData["About"]}})
                    </div>
                    <div class="input-field col s12">
                        @Html.LabelFor(model => model.Password, "Password", htmlAttributes: new {@class = "lightLabel"})
                        @Html.EditorFor(model => model.Password, new {htmlAttributes = new {@class = "lightLabel validate"}})
                    </div>
                    <div class="input-field col s12">
                        @Html.LabelFor(model => model.PasswordConfirm, "Confirm password", htmlAttributes: new {@class = "lightLabel"})
                        @Html.EditorFor(model => model.PasswordConfirm, new {htmlAttributes = new {@class = "lightLabel validate", @placeholder = "********"}})
                    </div>
                    <div class="input-field col s12">
                        @Html.LabelFor(model => model.Email, "EMail address", htmlAttributes: new {@class = "lightLabel"})
                        @Html.EditorFor(model => model.Email, new {htmlAttributes = new {@class = "lightLabel validate", @Value = TempData["Email"]}})
                    </div>
                    <div class="input-field col s12">
                        @Html.LabelFor(model => model.Phone, "Phone number", htmlAttributes: new {@class = "lightLabel"})
                        @Html.EditorFor(model => model.Phone, new {htmlAttributes = new {@class = "lightLabel validate", @Value = TempData["Phone"]}})
                    </div>
                    <div class="input-field col s12">
                        <button type="submit" value="Create" class="right green btn .light-green.accent-3 waves-effect waves-light">
                            Apply
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/ReadMore.js"></script>
</body>
</html>